<div {{ apiCall ? stimulus_controller(this.stimulusController, {
    schema: schema,
    globals: this.globals,
    api_call:  apiCall,
    searchPanesDataUrl:  this.searchPanesDataUrl|default(null),
    locale: locale,
    globals: globals,
    buttons: buttons|default([]),
    columnConfiguration: columns|json_encode,
    facetConfiguration: facet_columns|json_encode,
    modalTemplate: this.modalTemplate,
    dom: this.dom|default(false),
    style: this.style,
    index: this.index|default(false),
    pageLength: this.pageLength,
    filter: this.filter
}) }}>

    <div class="dtsp-verticalContainer row g-4">
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3">
            <div class="card">
                <button class="btn btn-primary dtsp-verticalPanes-toggler rounded d-md-none m-3" type="button" data-bs-toggle="collapse" data-bs-target="#dtsp-verticalPanes" aria-expanded="true" aria-controls="dtsp-verticalPanes">
                    Filters
                </button>
                <div class="card-body pt-0 pt-lg-3 collapse" id="dtsp-verticalPanes">
                    <div class="dtsp-verticalPanes">
{#                        @sort columns here?#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="" {{ stimulus_target(this.stimulusController, 'message') }}>
                        message
                    </div>
        {#            {{ component('menu', {#}
        {#                type: PAGE_MENU,#}
        {#                options: {#}
        {#                    columns: columns|json_encode#}
        {#                }#}
        {#            }) }}#}

        {#            {% for c in columns %}#}
        {#                {% if c.browsable %}#}
        {#                <li>#}
        {#                    <a href="{{ path('survos_facet_show', {indexName: this.index, fieldName: c.name}) }}">#}
        {#                        {{ c.name }}#}
        {#                        {{ c.browsable ? 'B' }}#}
        {#                    </a>#}

        {#                </li>#}
        {#                {% endif %}#}
        {#                <a href="{{ path('field') }}">{{ c.name }}</a>#}
        {#            {% endfor %}#}
                    <div class="table-responsive customTable">
                        <table class="table table-bordered table-striped nowrap" {{ stimulus_target(this.stimulusController, 'table') }}>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% block modal %}
        {{ include('@SurvosApiGrid/_modal.html.twig', {
            formUrl: '/',
            aaController: this.stimulusController,
            modalController: 'modal-form',
            modalClass: 'modal-md',
            modalTitle: this.caller,
            buttonLabel: 'Show MODAL',
            modalContent: 'really should load with ajax'
        }) }}
    {% endblock %}

</div>

