{# templates/components/datatable.html.twig #}

{% set columns = this.normalizedColumns %}
{% set templates = [] %}
{#    {% if block(c.name) is defined %} #}
{#        {% set templates[c.name] = block(c.name) %} #}
{#        {% with {row: row} %} #}
{#            {{ block(c.name) }} #}
{#        {% endwith %} #}
{#    {% else %} #}
{#        {{ attribute(row, c.name)|default() }} #}
{#    {% endif %} #}

{# <code>{{ this.stimulusController }}</code> #}
{# {{ dump('sortable', sortable_fields(this.class)) }}#}

{% set locale = this.locale ?: (app.request.locale ?: 'xx') %}

{% set apiCall = this.apiGetCollectionUrl %}
{% if not apiCall %}
{% set apiCall = this.class ? api_route(this.class) : 'meilisearch' %}
{% endif %}

<div {{ stimulus_controller(this.stimulusController, {
    schema: schema,
    globals: this.globals,
    api_call:  apiCall,
    searchPanesDataUrl:  this.searchPanesDataUrl|default(null),
    locale: locale,
    globals: {
        locale: locale
    },
    columnConfiguration: columns|json_encode,
    dom: this.dom|default(false),
    index: this.index|default(false),
    pageLength: this.pageLength,
    filter: this.filter
}) }}>

    {% block modal %}
        {{ include('@SurvosGrid/_modal.html.twig', {
            formUrl: '/',
            aaController: this.stimulusController,
            modalController: 'modal-form',
            modalClass: 'modal-md',
            modalTitle: this.caller,
            buttonLabel: 'Show MODAL',
            modalContent: 'really should load with ajax'
        }) }}
    {% endblock %}


    <table class="table table-striped responsive" {{ stimulus_target(this.stimulusController, 'table') }}>
    </table>

</div>

