{# templates/components/api_grid.html.twig #}

{% set columns = this.getNormalizedColumns %}
{% set _modalTemplate = this.getModalTemplate %}
{#{% set columns = this.col %}#}
{% set templates = [] %}
{#    {% if block(c.name) is defined %} #}
{#        {% set templates[c.name] = block(c.name) %} #}
{#        {% with {row: row} %} #}
{#            {{ block(c.name) }} #}
{#        {% endwith %} #}
{#    {% else %} #}
{#        {{ attribute(row, c.name)|default() }} #}
{#    {% endif %} #}

{# <code>{{ this.stimulusController }}</code> #}

{% set locale = this.locale ?: (app.request.locale ?: 'xx') %}

{% set apiCall = this.apiGetCollectionUrl|default(this.class ? api_route(this.class) : 'meilisearch') %}
{% if not apiCall %}
    apiGetCollectionUrl is now required!
    {% set apiCall = this.class ? api_route(this.class) : 'meilisearch' %}
{% endif %}

{#{% if app.environment == 'dev' %}<h1>apiCall: {{ apiCall }}</h1>{% endif %}#}

{% if apiCall %}
    {{ include('@SurvosApiGrid/components/_datatable_with_facets.html.twig') }}
    {% else %}
    please choose a provider for {{ this.class }}

        {% for route, details in this.collectionRoutes %}
            <li>
                <a href="{{ path(app.current_route, app.current_route_parameters|merge({apiRoute: route})) }}">
                    {{ route }}
                </a>
            </li>
        {% endfor %}
{% endif %}
