{# templates/components/datatable.html.twig #}
{% set columns = this.normalizedColumns %}
<div {{ this.stimulusController ? stimulus_controller(this.stimulusController) }}>
    <div class="m-4">
        <dl class="row">
            {% for c in columns %}
                <dt class="col-sm-3">
                    {{ c.title }}
                </dt>
                <dd class="col-md-9">
                    {% if block(c.name) is defined %}
                        {% with {data: data} %}
                            {{ block(c.name) }}
                        {% endwith %}
                    {% else %}
                        {# handle bools #}
                        {% set value = attribute(data, c.name)|default() %}
                        {% if value is iterable %}
                            {% if value|array_is_list %}
                                {% for v in value %}
                                    {% if v is iterable %}
                                    <twig:item_grid :data="v">

                                    </twig:item_grid>
                                    {% else %}
                                        <b>{{ v }}</b>
                                    {% endif %}
                                {% endfor %}

{#                                {{ value|join('|') }}#}
                            {% else %}
                                <twig:item_grid :data="value">

                                </twig:item_grid>
                            {% endif %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endfor %}

        </dl>
    </div>
</div>
